{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "inline-json-import",
        [
            "module-resolver",
            {
                "alias": {
                    "Api": "./app/src/commons/",
                    "ApiDB": "./db/src/DataBase.json"
                }
            }
        ]
    ]
}